/* ---------------------- CSS RESET (START) ---------------------- */

*,
*::before,
*::after { box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom */
*:focus {
    outline: none;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

/* ---------------------- CSS RESET (END) ---------------------- */

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-style: 'normal';
  font-weight: '400';
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-style: 'normal';
  font-weight: '400';
}

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #f4f4f4;
  --clr-neutral-700: grey;
  --clr-neutral-800: #424242;
  --clr-neutral-900: #000000;

  --clr-accent-300: #a3b8e2;

  --ff-primary: 'Libre Baskerville', sans-serif;
  --ff-secondary: 'Work Sans', sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: 0.875rem; /* ideally avoid */
  --fs-400: 1rem; /* body size */
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  --fs-title: var(--fs-700);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-300);
}

/* Utility classes */
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.bg-neutral-100 {
  color: var(--clr-neutral-100);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-title {
  font-size: var(--fs-title);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.container {
  --max-width: 1200px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.inner-content {
  --max-width: 750px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.text-highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, var(--clr-accent-300) 50%);
}

.text-underline {
  text-decoration: underline;
}

/* General */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-900);
}

header {
  margin-top: 2rem;
}

header h1 {
  margin-bottom: 0.7rem;
}

main {
  flex: 1;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.btn-primary:hover {
  background-color: var(--clr-neutral-800);
}

.btn-outline {
  background-color: transparent;
  color: var(--clr-neutral-900);
  border: 2px solid var(--clr-neutral-900);
}

.btn-outline:hover {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.btn-small {
  padding: 0.25rem 0.5rem;
  font-size: var(--fs-300);
}

.btn-large {
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-600);
}


#nav {
  border-top: solid 1px var(--clr-neutral-900);
  border-bottom: solid 1px var(--clr-neutral-900);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-bottom: 2.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* TODO: Redudant, copies text-highlight utility */
.nav-list .active {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, var(--clr-accent-300) 50%);
}

.nav-link {
  text-decoration: nonggVGe;
  color: var(--clr-neutral-900);
  display: block;
  position: relative; /* Required for pseudo-element */
  overflow: hidden; /* Hide the background gradient */
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, var(--clr-accent-300) 50%);
  transition: left 0.3s; /* Transition the left position */
  z-index: -1;
}

.nav-link:hover::before {
  left: 0; /* Move the highlight to the right on hover */
}

footer {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: bottom;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.loader {
  display: block;
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

/* ----- HOME ----- */
#hero {
  display: flex;
  align-items: center;
  margin-bottom: 20rem;
}

#hero h1,
#hero p {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

/* ----- ARTICLES ----- */
.articles-previews {
  margin-top: 2rem;
}

.article-preview-card {
  margin-bottom: 3rem;
}

.article-preview-card h2 {
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-bold);
}

.article-preview-card .flex-container {
  display: flex;
  gap: 1.5rem;
  margin-top: .3rem;
}


.article-preview-card .flex-container .thumbnail-container {
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}

.article-preview-card .flex-container .thumbnail-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--clr-neutral-900)
}

.article-preview-card .flex-container p {
  width: 75%;
}

@media only screen and (max-width: 600px) {
  .article-preview-card .flex-container .thumbnail-container {
    display: none;
  }

  .article-preview-card .flex-container p {
    width: 100%;
  }
}

/* ----- CONTACT ----- */
#contact-page {
  margin-top: 1rem;
}

.social-links {
  margin-top: 2rem;
  padding-left: 1rem; /* don't know why it's not centered */
}

.social-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-item {
  border: none;
  margin-right: 1.3rem
}

.social-links-item .icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--clr-neutral-700);
}

.social-links-item .icon svg:hover {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--clr-neutral-800);
}

/* ----- BOOKS ----- */
#book-list h2 {
  display: none;
  margin-bottom: 0.5rem;
}

#book-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3rem;
}

#book-list li {
  margin-bottom: 10px;
  background-color: var(--clr-neutral-300);
  padding: 8px;
  border-radius: 5px;
}

#book-list .author {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
}

#book-list .title {
  color: var(--clr-neutral-800);
}

