/* ---------------------- CSS RESET (START) ---------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- CSS RESET (END) ---------------------- */

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-style: 'normal';
  font-weight: '400';
}

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-900: #000000;

  --clr-accent-300: #a3b8e2;

  --ff-primary: 'Libre Baskerville', sans-serif;
  --ff-secondary: 'Libre Baskerville', sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-300: ; /* ideally avoid */
  --fs-400: 1rem; /* body size */
  --fs-500: 1.5rem;
  --fs-600: 2rem;

  --fs-title: var(--fs-600);
  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-500);
  --fs-secondary-heading: var(--fs-500);
}

